{% extends "base.html" %}
{% block start %}

<nav class="navbar bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand">Receipe Book</a>
    <form class="d-flex" role="search">
      <a href="/logout/" class="btn btn-outline-success" type="submit">logout</a>
    </form>
  </div>
</nav>

<div class="container mt-5">
    <h1 class="col-6 mx-auto">Receipes</h1>
   <br>
    <form class="col-6 mx-auto p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input name="receipe_name" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >Description</label>
          <textarea name="receipe_desc" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Receipe Image</label>
            <input name="receipe_image" type="file" class="form-control" >
          </div>
          <button class="btn btn-success" type="submit">Add Receipe</button>
      </form>
  
      
        <div class="mt-5">
          <div class="mx-auto col-6">
            <form >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Food</label>
                <input name="search_re" type="text" class="form-control" >
              </div>
              <button class="btn btn-primary" type="submit">Search</button>


            </form>
            
          </div>
        </div>



      </form>
      

      
<br>
<br><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.NO</th>
            <th scope="col">receipe_name</th>
            <th scope="col">receipe_desc</th>
            <th scope="col">receipe_image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {%for rec in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{rec.receipe_name}}</td>
            <td>{{rec.receipe_desc}}</td>
            <td>
                <img src="/media/{{rec.receipe_image}}" style="height: 200px;"
            </td>
            <td><a href="/delete_recepies/{{rec.id}}" class="btn btn-danger">Delete</a>
              <br>
              <br>
              <a href="/update_recepies/{{rec.id}}" class="btn btn-success">update</a>
            
            </td>
            
          </tr>
          
        </tbody>
        {%endfor%}
      </table>

</div>

{% endblock %}
